In [9]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
# from LSTUR import Tokenizer
from collections import Counter

In [10]:
# Load tsv file
News = pd.read_csv('Data/MINDdemo_train/news.tsv', sep='\t', header=None)
News.columns = ['news_id', 'category', 'subcategory', 'title', 'abstract', 'url', 'title_entities', 'abstract_entities']
News_vali = pd.read_csv('Data/MINDdemo_dev/news.tsv', sep='\t', header=None)
News_vali.columns = ['news_id', 'category', 'subcategory', 'title', 'abstract', 'url', 'title_entities', 'abstract_entities']

News = pd.concat([News, News_vali], ignore_index=True)
News = News.drop_duplicates(subset='news_id')

UserData = pd.read_csv('Data/MINDdemo_train/behaviors.tsv', sep='\t', header=None)
UserData.columns = ['impression_id', 'user_id', 'time', 'history', 'impressions']
UserData_vali = pd.read_csv('Data/MINDdemo_dev/behaviors.tsv', sep='\t', header=None)
UserData_vali.columns = ['impression_id', 'user_id', 'time', 'history', 'impressions']
# UserData = pd.concat([UserData, UserData_vali], ignore_index=True)

UserData = UserData.dropna()
UserData_vali = UserData_vali.dropna()
topic_size = News['category'].nunique()
subtopic_size = News['subcategory'].nunique()

# get ratio between known and unknown users from train and validation set

# Find unique users in 
users_train = list(set(UserData["user_id"]))
users_vali = list(set(UserData_vali["user_id"]))

# known = np.isin(users_train,users_vali).sum()
known = sum(el in users_train for el in users_vali)
print(known)


known_ratio = known/len(users_train)
print(known_ratio)

4854
1.0

In [11]:
print(len(set(UserData["user_id"])))
print(len(set(UserData_vali["user_id"])))

4854
4854

In [12]:
all_users = list(set(UserData["user_id"]).union(set(UserData_vali["user_id"])))
all_users = np.array(all_users)

len(all_users)

4854

In [13]:
# Load in the large dataset

NewsL = pd.read_csv('Data/MIND_large_test/news.tsv', sep='\t', header=None)
NewsL.columns = ['news_id', 'category', 'subcategory', 'title', 'abstract', 'url', 'title_entities', 'abstract_entities']

UserDataL = pd.read_csv('Data/MIND_large_test/behaviors.tsv', sep='\t', header=None)
UserDataL.columns = ['impression_id', 'user_id', 'time', 'history', 'impressions']

UserDataL = UserDataL.dropna()


UserDataL.head()

,impression_id,user_id,time,history,impressions
0,1,U64099,11/19/2019 11:37:45 AM,N121133 N104200 N43255 N55860 N128965 N38014 N...,N101071 N15647 N83400 N124838 N57092 N64623 N6...
1,2,U231077,11/19/2019 5:28:08 AM,N45124 N84730 N45128 N104312 N70022 N99111 N26...,N14657 N51253 N49521 N126571 N74286 N101071 N1...
2,3,U606012,11/19/2019 4:46:23 AM,N59893 N84662 N90686 N33265 N127225 N120859 N6...,N74286 N9250 N26898 N123737 N98301 N80580 N456...
3,4,U320649,11/21/2019 6:03:51 AM,N110863 N7889 N86335 N85056 N115743 N63372 N19...,N119559 N37657 N108085 N91287 N39136 N130190 N...
4,5,U357840,11/22/2019 10:36:19 AM,N98596 N85005 N15713 N67779 N47961 N55571 N666...,N60658 N43496 N65220 N9125 N63136 N83728 N3208...

In [19]:
#All users in large dataset:
users_large = UserDataL[:50000]


users_large = UserDataL["user_id"]


user_filter = np.isin(users_large,all_users)

In [24]:
#Filter so that only known users are in the dataset:
users_filtered = UserDataL[user_filter]
users_filtered.head()

,impression_id,user_id,time,history,impressions
148,149,U59668,11/21/2019 11:59:16 AM,N56381 N112546 N14678 N74557 N122444 N70710 N6...,N122092 N66854 N95474 N94658 N34732 N75138 N12...
298,299,U30365,11/19/2019 6:39:41 AM,N90966 N7937 N76665,N26339 N108383 N34085 N21306 N117818 N101071 N...
434,435,U83857,11/17/2019 10:42:13 AM,N125223 N63723 N116312 N12959 N104081 N96516 N...,N41089 N90685 N100425 N96011 N91882 N122775 N2...
873,874,U33580,11/19/2019 4:37:53 AM,N99676 N5332 N114369 N85428 N107594 N25670 N21...,N119421 N87027 N96686 N50837 N89029 N51253 N79...
914,915,U90648,11/18/2019 12:11:49 PM,N3285 N73137 N50485 N85103 N64308 N24701 N45410,N102888 N104868 N90804 N59499 N14538 N90169 N6...

In [27]:
#Export dataframe to csv
users_filtered.to_csv('data/MINDdemo_test/behaviors.tsv', sep="\t")